.header {
    border-bottom: 1px rgb(228, 222, 222) solid;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
}

/* Logo */
.logo svg {
    fill: #FF385C;
}

/* Search */
.search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 30px;
    border: 1px rgb(220, 218, 218) solid;
    box-shadow: 1px 1px 3px rgb(227, 219, 219), -1px -1px 3px rgb(227, 219, 219);
    padding: 5px;
    padding-left: 20px;
    padding-right: 5px;
}

.search>div {
    margin-left: 10px;
}


.anywhere,
.anyweek {
    border-right: 2px solid rgb(219, 216, 216);
    margin-right: 10px;
    font-weight: 610;
    color: rgb(75, 75, 75);
    padding-right: 10px;
}

.addguests {
    color: rgb(137, 131, 131);
}

.search-icon {
    display: inline-block;
    background-color: #FF385C;
    padding: 10px;
    border-radius: 100%;
}

.search-icon svg {
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: white;
    stroke-width: 5.333333333333333;
}


/* Profile */
.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile .home {
    font-weight: 610;
    outline: none;
    border: none;
    padding: 12px;
    border-radius: 30px;
    background-color: white;
}

.profile .home:hover {
    background-color: whitesmoke;
    cursor: pointer;
}

/* Language */
.language {
    padding: 10px;
    border-radius: 100%;
}

.language svg {
    display: inline-block;
    height: 15px;
    width: 15px;
    fill: black;
}

.language:hover {
    cursor: pointer;
    background-color: whitesmoke;
}

/* Humberger */
.humberger {
    outline: none;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 30px;
    border: 1px solid rgb(220, 220, 225);
    position: relative;

}

.humberger:hover {
    box-shadow: 1px 1px 3px rgb(227, 219, 219);
    cursor: pointer;
}

.humberger>div:first-child svg {
    fill: none;
    height: 16px;
    width: 16px;
    stroke: black;
    stroke-width: 3;
    overflow: visible;
    margin-right: 12px;
}

.humberger>div:nth-child(2) svg {
    height: 25px;
    width: 25px;
    fill: rgb(69, 69, 69);
}

/* Humberger Menu */
.menu {
    width: 200px;
    box-shadow: 1px 1px 5px rgb(185, 180, 180), -1px -1px 5px rgb(205, 201, 201);
    border-radius: 12px;
    padding-top: 7px;
    padding-bottom: 7px;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 1000000;
    background-color: white;
}

.menu.hide {
    display: none;
}

.menu>div:first-child {
    border-bottom: 1px solid rgb(185, 180, 180);
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.menu-row {
    width: 100%;
    padding: 11px;
    padding-left: 15px;
    text-align: left;
}

.menu-row.bold {
    font-weight: 600;
}

.menu-row:hover {
    background-color: whitesmoke;
    cursor: pointer;
}