
.search-icon {
    display: inline-block;
    background-color: #FF385C;
    padding: 10px;
    border-radius: 100%;
}

.search-icon svg {
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: white;
    stroke-width: 5.333333333333333;
}