.header {
    border-bottom: 1px rgb(228, 222, 222) solid;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 14px;
    line-height: 1.43;
    color: #222;
}

.logo svg {
    fill: #FF385C;
}